<app-header></app-header>
<div id="Trading">
  <div class="sidebar">
    <div><a routerLink="/trading/index" routerLinkActive="sideon">交易大厅</a></div>
    <div><a routerLink="/trading/sell" routerLinkActive="sideon">卖出订单</a></div>
    <div><a routerLink="/trading/orders" routerLinkActive="sideon">买入订单</a></div>
    <div><a routerLink="/trading/issue" routerLinkActive="sideon">发布挂售</a></div>
  </div>
  <div class="body-content">
    <h2>卖出订单</h2>
    <br />
    <table class="table">
      <tr class="row trad-tab-head">
        <th class="col-xs">
          订单编号
        </th>
        <th class="col-xs">
          买家
        </th>
        <th class="col-xs">
          买入数量
        </th>
        <th class="col-xs">
          单价
        </th>
        <th class="col-xs">
          总价
        </th>
        <th class="col-xs">
          支付时间
        </th>
        <th class="col-xs">
          付币时间
        </th>
        <th class="col-xs text-right">
          操作
        </th>
      </tr>

      <tr class="row" *ngFor="let x of model; let i = index">
        <td>{{getID(x.ID)}}</td>
        <td>{{x.UserName}}</td>
        <td>{{x.Numbers}}</td>
        <td>{{x.Price}}</td>
        <td>{{x.Cost}}</td>
        <td title="{{x.PayTime}}">{{GetTimes(x.PayTime)}}</td>
        <td title="{{x.EndTime}}">{{GetTimes(x.EndTime)}}</td>
        <td class="text-right">
          <button class="btn btn-primary" *ngIf="x.States==3" (click)="pay(x.ID, i)">确认收款并付币</button>
          <span *ngIf="x.States==4">完成</span>
        </td>
      </tr>
    </table>

    <div class="pagebar">
      <div class="page">
        <app-pagination conf="Pagination"></app-pagination>
      </div>
    </div>


    <app-footer></app-footer>
  </div>
</div>

