<app-header></app-header>
<div class="body-content">
  <div id="AdminMain">
    <br>
    <div class="head">
      <div class="ann">
        <div ><i class="ititle"></i>公告 <a class="more" routerLink="/ann">More</a></div>
        <div class="infolist" *ngFor="let x of ann;">
        <div><a routerLink="/ann/view/{{x.ID}}">{{x.Title}}</a><span>{{GetTimes(x.Times)}}</span></div>
        </div>
      </div>

      <div class="info">
        <div style="margin-bottom: 10px;"><i class="ititle"></i>设置</div>
        <!--<div *ngIf="faOn==1">-->
          <!--<button class="btn btn-danger">释放储存HYT暂不开放</button>-->
        <!--</div>-->
        <!--<div *ngIf="faOn==0">-->
          <!--<div *ngIf="switch==0"><button class="btn btn-success" (click)="stop($event)">释放存储HYT开启中</button></div>-->
          <!--<div *ngIf="switch==1"><button class="btn btn-danger" (click)="open($event)">释放储存HYT已停止</button></div>-->
        <!--</div>-->
        <!--<br>-->
        <div><a class="btn btn-info" routerLink="/qrcode">我的二维码</a></div>
      </div>

    </div>

    <div id="Wallet">
      <div><i class="ititle"></i>我的钱包</div>
      <ul>
        <li class="col-xs-12">
          <i class="icon iconfont i5">&#xe606;</i>
          <span>数字资产</span>
          <strong>{{zichan}}</strong>
        </li>
        <li class="col-xs-12">
          <i class="icon iconfont i1">&#xe68d;</i>
          <span>储存HYT</span>
          <strong>{{cunchu | number:'1.0-4'}}</strong>
        </li>
        <li class="col-xs-12">
          <i class="icon iconfont i6">&#xe63b;</i>
          <span>流通HYT</span>
          <strong>{{bi | number:'1.0-4'}}</strong>
        </li>
        <li class="col-xs-12">
          <i class="icon iconfont i3">&#xe6ba;</i>
          <span>可用积分</span>
          <strong>{{moneys}}</strong>
        </li>
        <li class="col-xs-12">
          <i class="icon iconfont i2">&#xe64c;</i>
          <span>待释放HYT</span>
          <strong>{{daisf}}</strong>
        </li>
      </ul>
    </div>

  </div>


  <app-footer></app-footer>
</div>
